/* 
    Document   : master
    Created on : 21-Aug-2013, 16:46:09
    Author     : D Fletcher
    Description:
        Purpose of the stylesheet follows.
*/

{  
    margin: 0;  
    padding: 0;  
}  
  
/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}  
  
body { 
    margin: 0 auto;  
    width: 828px;
    font: 13px/22px Helvetica, Arial, sans-serif;  
    background: #000000;  
}  
  
h1 {  
    font-size: 28px;
    color: #ffffff; 
    text-align: center;  
    line-height: 44px;  
    padding: 12px 0;   
    text-decoration: none; 
    font-weight: normal  
}  
  
h2 {  
    font-size: 18px;  
    line-height: 0px;  
    padding: 10px 0; 
    color: #ffffff; 
    margin-bottom: -0.1em;     
}  
h3 {  
    font-size: 12px;  
    line-height: 14px;  
    padding: 20px 0; 
    color: #ffffff;
    text-align: center;
}  
p {
    padding-bottom: 22px;
    color: #ffffff;  
    text-align: justify;  
    line-height: 14px; 
    padding: 5px 0;  
}

